.songs {
    /* margin-right: 10px; */
    max-width: 30%;
    max-height:70%;
    position: absolute;
    top: 30%;
    right: 0%;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 10px;
    background-color:rgba(23, 155, 207, 0.3);
    border-radius: 8px;
    
}

.songs::-webkit-scrollbar{
  display: none;

}