img{
    max-width: 200px;
   max-height: 50%;
     padding: 0;
     margin:0;
 
 }
 .Song-card{
     width:400px;
     display: flex;
     flex-direction: row;
     text-align: flex;
     position: relative;
     border: 2px solid;
     background-color:rgba(95, 141, 126, 0.7);
     border-radius:7px;
     margin: 5px;
     justify-content: space-around;
     align-content: space-around;
    
 }

 .song-btn{
     height: 30%;
 }

.title{
    margin-right: 0;
    padding: 10px;
    height: 30px;
    width: 100px;
    overflow: hidden;
    
}